<!--User info-->

<!--New book-->
<!--Books-->
<% @books.each do |book| %>
<div>

  <p><%= link_to 'title', book_path(book.id) %>：<%= book.title %></p>

  <p>body：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>